body {
    background: url("https://i.pinimg.com/originals/ce/5e/13/ce5e134326303b011d5d86016acbae9a.jpg");
    background-size: 100%;
    font-family: "Roboto", sans-serif;
    /*font-family: 'Lemonada', cursive;*/
    font-size: 14px;
    line-height: 1.6em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.chat_wrapper {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 600px;
    display: flex;
    grid-gap: 8px;

}

#dialogs {
    width: 25%;
    background: #a2b4bb;
    box-shadow: 0 0 2px 2px #013163;
    height: 100%;
    max-height: 600px;
}
::-webkit-scrollbar{
    background-color: rgba(77, 98, 113, 0.71);
    width: 5px;
}
::-webkit-scrollbar-button{
    color: gray;
    width: 15px;
}

.chat_dialogs_template {
    width: 75%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 2px 2px #013163;
}

.header{
    background: #7198ce;
    height: 57px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.header div{
    height: 100%;
    width: 200px;
    display: flex;
    flex-direction: column;
}

.header_content {
    margin-top: 2px;
    margin-left: 20px;
    letter-spacing: 1px;
    font-weight: bold;
    color: white;
}

#messages {
    font-size: 16px;
    height: 500px;
    min-height: 350px;
    background: whitesmoke;
    overflow-y: scroll;
    overflow-x: hidden;
}

.write_area {
    height: 105px;
    display: flex;
    justify-content: space-around;
    background: #7198ce;
}

#textarea {
    font-family: Arial;
    letter-spacing: 1px;
    padding: 5px;
    margin-left: 12%;
    margin-right: 10px;
    margin-top: 2.5px;
    font-size: 16px;
    height: 89px;
    width: 75%;
    resize: initial;
    border-radius: 5px;
    outline: none;
    text-align: left;
    border: none;
    transition: all 0.3s ease-in-out 0s;
}

#textarea:hover, #textarea:focus{
    box-shadow: 0 0 3px 3px lightblue;
}

.btnWrp {
    width: 60px;
}

#button {
    width: 60px;
    height: 60px;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    color: rgba(104, 104, 104, 0.73);
    background: lightskyblue;
    border: none;
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    outline: none;
    position: relative;
    margin-top: 22px;
    margin-left: -6px;
    text-align: center;
    line-height: 20px;
}

#button:hover{
    color: white;
    box-shadow: 0 0 3px 5px rgba(67, 153, 238, 0.64);
    background-color: #2e60c4;
}

#button:hover::before, button:focus::before {
    opacity: 1;
}

#button:hover::after, button:focus::after {
    animation: none;
    display: none;
}

.dialogs__headers{
    border-bottom: 0.5px solid black;
    width: 100%;
    height: 50px;
    font-size: 18px;
    color: white;
    font-weight: bold;
    background-color: #7198ce;
    line-height: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.dialogs__headers button{
    width: 120px;
    margin: 5px auto 0 auto;
    border-radius: 5px;
    border: none;
    color: #7198ce;
    background-color: white;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 0 0 3px 3px lightblue;
}
#exit{
    margin-top: 5px;
    width: 30px;
    height: 30px;
    font-size: 35px;
    text-align: center;
    line-height: 30px;
    background-color: lightblue;
    border: 3px solid white;
    color: white;
    border-radius: 50px;
    margin-right: 10px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
#exit:hover{
    border: 1px solid red;
    color: red;
    transform: rotateZ(180deg);
    box-shadow: 0 0 2px 2px white;
}

#create_room{
    position: absolute;
    z-index: 999;
    background-color: white;
    width: 250px;
    height: 380px;
    border-radius: 5px;
    left: calc(50% - 125px);
    top: -600px;
    transition: all 0.3s ease-in-out;

}
#create_room header{
    width: calc(100% - 20px);
    background-color: #7198ce;
    height: 30px;
    display: flex;
    font-size: 20px;
    line-height: 30px;
    padding-left: 10px;
    font-weight: bold;
    color: white;
    padding-right: 10px;
    border-radius: 5px;
}
#close_creating{
    margin-left: 100px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

}
#room_input{
    width: 80%;
    margin-left: 9%;
    height: 20px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: bold;
    color: #0f0f34;
    outline: none;
    border-top: none;
}
#user_list{
    margin-top: 20px;
    width: calc(100% - 5px);
    font-size: 15px;
    padding-left: 5px;
}

#opacity_background{
    position: absolute;
    background-color: rgba(22, 37, 73, 0.72);
    top: -2000px;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
}
#opacity_background.init {
    top: 0;
}

#create_room.init{
    top: 200px;
}

#close_creating:hover{
    color: red;
}
#create_room div {
    height: 320px;
    border-bottom: 1px solid black;
}
#conf{
    position: relative;
    margin-left: calc(50% - 60px);
    height: 25px;
    font-size: 16px;
    font-weight: bold;
    width: 120px;
    outline: none;
    border-radius: 5px;
    background-color: #0f0f34;
    color: white;
    letter-spacing: 1px;
    transition: all 0.3s ease-in-out;
}
#conf:hover{
    color: #555555;
    background-color: lightskyblue;
}
#search_input{
    margin-top: 15px;
    height: 20px;
    font-weight: bold;
    border-radius: 5px;
    outline: none;
    border: none;
    padding-left: 5px;
    transition: all 0.3s ease-in-out;
}

#search_input:focus, #search_input:hover{
    box-shadow: 0 0 2px 2px lightblue;
}

#search_input::placeholder{
  color: #020284;
}

